
RewriteEngine on

RewriteRule ^Start$ index.php [L]
RewriteRule ^Level-Auswahl$ level-select.php [L]
RewriteRule ^Einführung$ level0.php [L]
RewriteRule ^Grundlagen-Hashmaps$ level1.php [L]
RewriteRule ^Erste-Kollision$ level2.php [L]
RewriteRule ^Linear-Probing$ level3.php [L]
RewriteRule ^Linear-Probing-2$ level4.php [L]
RewriteRule ^Quadratic-Probing$ level5.php [L]
RewriteRule ^Quadratic-Probing-2$ level6.php [L]
RewriteRule ^Double-Hashing$ level7.php [L]
RewriteRule ^Double-Hashing-2$ level8.php [L]
RewriteRule ^Separate-Chaining$ level9.php [L]
#RewriteRule ^Separate-Chaining-2$ level10.php [L]
RewriteRule ^Load-Factor$ level10.php [L]
RewriteRule ^Re-Hashing$ level11.php [L]
RewriteRule ^Finale$ level12.php [L]
RewriteRule ^Zertifikat$ certificate.php [L]